html {
        background-color: rgb(102, 117, 158);
}

h1, h2{
        font-family: 'Give You Glory', cursive;
        color: rgb(218, 226, 177);
}
p, .list{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
}
h1{
        font-size: 2.5em;
}
h2{
        font-size: 1.5em;
}

.list{
        background-color: rgb(102, 117, 158);
        display: flex;
        align-content: space-between;
}
.pic {
        display: block;
        width:300px;
        border-radius: 20%;
}

.topImage{
        display: flex;
        justify-content: center;
        align-content: flex-start;
        z-index: -1;
}

button{
        background-color: green;
        border: 1 em;
        border-radius: .5em;
        color: darkgreen;
        padding: 3px 10px;
        display: inline-block;
        font-size: 1em;
        display: flex;
        justify-content: center;
        justify-content: space-around;
}